/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.blurred {
  filter: blur(8px);
  transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
  
  &:hover,
  &.has-child-selected {
    filter: blur(0);
  }
}